/* Header */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Variables */
$tamaño-h1: 3em;
$tipo-fuente-h1: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

/* Map */

$colors_borders_buttons:(
    promociones: border 2px solid rgb(0, 0, 0),
    saldo: border 2px solid rgb(46, 46, 46),
    tarjeta: border 2px solid rgb(114, 79, 79)
    consulta: border 2px solid rgb(146, 70, 70)
);

/* Mixin */

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
} 

/* Página de Inicio */

@import "__inicio.scss";

/* Página de contacto */

@import "__contacto.scss";

/* Diversión */

@import "__diversión.scss";

/* Promociones */

@import "__promociones.scss";

/* Recarga */

@import "__recarga.scss";

